@page
@model GeoprofsXyn.Pages.Users.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="User.Team" class="control-label"></label>
                <input asp-for="User.Team" class="form-control" />
                <span asp-validation-for="User.Team" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Rol" class="control-label"></label>
                <input asp-for="User.Rol" class="form-control" />
                <span asp-validation-for="User.Rol" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="User.Naam" class="control-label"></label>
                <input asp-for="User.Naam" class="form-control" />
                <span asp-validation-for="User.Naam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Email" class="control-label"></label>
                <input asp-for="User.Email" class="form-control" />
                <span asp-validation-for="User.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Wachtwoord" class="control-label"></label>
                <input asp-for="User.Wachtwoord" class="form-control" />
                <span asp-validation-for="User.Wachtwoord" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.VerlofUren" class="control-label"></label>
                <input asp-for="User.VerlofUren" class="form-control" />
                <span asp-validation-for="User.VerlofUren" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
